<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome User</h1>
    <a href="{% url 'logout'%}">Logout</a>




    

    <!-- <form class="form-horizontal" role="form" action="{% url 'udonation'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="items">Items</label>
        <input type="text" name="items">
        <label for="number">Quantity</label>
        <input type="number" name="quantity">
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </div>
        </div>
    </form> -->



    
</body>
</html>