{% extends 'donation/base.html'%}
{% load static%}
{% block title%}Register{% endblock%}
{% block body %}



      


        

<section id="hero">
        <h1 style="text-align: center;" ><a href="{% url 'index'%}">Help 4 Needy</a></h1>

    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
            
          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('https://media.giphy.com/media/MCAFTO4btHOaiNRO1k/giphy.gif');">
            <div class="carousel-container">
              <div class="carousel-content container">
                  
                <h2 class="animated fadeInDown">Register (As a Donor/Receiver) <span></span></h2>
<section style="text-align: center;">
            <div class="row">
                <div class="col-sm-10 col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                                <a style="color:white;font-size:20px;" href="{%url 'index'%}">GO TO HOME</a>
                            <br>
                            <br>
                            <h3><font color="white" size="5">Even a Single Donation Will Save a Life.</font></h3>
                            {% if error_message %}
                                <p><strong>{{ error_message }}</strong></p>
                            {% endif %}
                            <br>
        
                            <form class="form-horizontal" role="form" action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}

                                 
                                        <div class="col-sm-offset-2 col-sm-12">
                                            <span class="text-danger small">{{ field.errors }}</span>
                                        </div>
                                        <label style="color:white;font-size:20px;" class="control-label col-sm-4">{{ field.label_tag }}</label><br>
                                        <div class="col-sm-7">{{ field }}</div>
                                    </div>
                                {% endfor %}
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" style="font-size: 20px;">Submit</button>
                                    </div>
                                </div>
                            </form>
        
                        </div>
                        
                        <div style="color:whitesmoke;font-size:15px;"class="panel-footer">
                            Already have an account? <a style="color:white;font-size:20px;" href="{%url 'ulogin'%}">Click here</a> to log in.
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        </section>


    </div>
</div>
</div>
</section>     
{% endblock body%}